<h1>Detalles del personaje</h1>

<div>
  <strong>Nombre:</strong> <%= @character.name %>
</div>
<div>
  <strong>Locación:</strong> <%= @character.location %>
</div>
<div>
  <strong>Casa:</strong> <%= @character.house %>
</div>
